<h1>Recipes</h1>
<div>
  <p>Results: <%= @recipes.count %></p>
  <ul class="recipe-results">
  <% @recipes.each do |recipe| %>
    <li class="title"><%= recipe.title %></li>
    <li class="description"><%= recipe.description %></li>
    <ul class="ingredients">
      <% recipe.ingredients.each do |ingredient| %>
      <% recipe_ingredient = @recipes_facade.get_recipe_ingredients(recipe.id, ingredient.id) %>
        <li class="name"><%= "#{recipe_ingredient.measurement} #{recipe_ingredient.measurement_type} #{ingredient.name}" %></li>
      <% end %>
    </ul>
    <% end %>
  </ul>
</div>
