<body>
  <header class="header">
      <div class="main-title">
        <h1 class="title">Recipes</h1>
      </div>
  </header>
  <div class="recipe-count">
    <p>Results: <%= @recipes.count %></p>
  </div>
  <main class="main">
    <div class="card-container">
      <% @recipes.each_with_index do |recipe, i| %>
        <div id="recipe-<% i + 1 %>" class="recipe">
          <a href="#">
            <div class="recipe-image">
              <img src="https://picsum.photos/200">
            </div>
            <div class="description">
              <h2><%= link_to recipe.title, recipe_path(recipe.id) %></h2>
              <p><%= link_to recipe.description, recipe_path(recipe.id) %></p>
              </div>
            </a>
          </div>
        <% end %>
      </div>
  </main>
</body>


    <% @recipes.each_with_index do |recipe, i| %>
          <ul class="ingredients"><% recipe.ingredients.each do |ingredient| %>
            <% end %>
          </ul>
    <% end %>
