<h1>Recipes</h1>
<div>
  <p>Results: <%= @recipes.count %></p>
  <ul class="recipe-results">
  <% @recipes.each_with_index do |recipe, i| %>
    <section id="recipe-<% i + 1 %>">
      <li class="title"><%= link_to recipe.title, recipe_path(recipe.id) %></li>
      <ul class="description">
        <li><%= link_to recipe.description, recipe_path(recipe.id) %></li>
      </ul>
      <ul class="ingredients"><% recipe.ingredients.each do |ingredient| %>
        <% end %>
      </ul>
    </section>
    <br>
  <% end %>
  </ul>
</div>
