<div class="recipe-results">

</div>

<% if @user != nil && @user.email_confirmed == false %>
  <%= 'This account has not yet been activated. Please check your email to confirm your email address.' %>
<% end %>
