<%= render '/dashboard/dashboard/dash_nav' %>

<div class="my-profile">
  <div class="my-profile-background-image">
    <div class="my-profile-picture">
      <%= @user.avatar %>
    </div>
  </div>
</div>
