/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require jcrop
 *= require_tree .
 *= require_self
 */


a:link, a:visited, a:hover, a:active,  {
  text-decoration:none;
}

a:hover {
  color: grey;
}

body {
  background-color: gainsboro;
  margin: 0px 0px 20px 0px;
  padding: 0;
}

.btn-lg {
  padding: 20px 20px;
  font-size: 70px;
  border-radius: 10px;
  background-color: red;
}

.container {
  max-width: 95%;
  width: 1300px;
  background-color: white;
  min-height: 900px;
  padding-left: 0px;
  padding-right: 0px;
  border-right: 4px solid lightgrey;
  border-left: 4px solid lightgrey;
}

.navbar a {
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-decoration: none;
}

.navbar ul li a {
 color: #111;
 text-align: center;
 text-decoration: none;
 transform: all 5s;
 font-family: sans-serif;
 text-transform: uppercase;
 letter-spacing: 2px;

}

.search-field { margin-top: 7px;}

#nav {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px outset white;
}

#work .img-responsive{
  margin: 0 auto;
}
