/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // .navbar a:hover {
 //   background-color: gainsboro;
 // }

// #nav2 {
//     float: center;
//     padding: 12px;
//     color: gainsboro;
//     text-decoration: none;
//     font-size: 17px;
//     width: 16.6667%;
//     text-align: center;
//     border-right: 2px solid gainsboro;
//     border-left: 2px solid gainsboro;
// }

#nav {
  padding-left: 15px;
  padding-right: 15px;
  border-bottom: 2px outset white;
}

 .container {
   max-width: 95%;
   width: 1300px;
   background-color: white;
   min-height: 900px;
   padding-left: 0px;
   padding-right: 0px;
   border-right: 4px solid lightgrey;
   border-left: 4px solid lightgrey;
 }

 .search-field { margin-top: 7px;}

 #work .img-responsive{
   margin: 0 auto;
 }

 body {
   background-color: gainsboro;

   margin: 0;
   padding: 0;
 }
 .btn-lg {
   padding: 20px 20px;
   font-size: 70px;
   border-radius: 10px;
   background-color: red;
 }

 

 // #nav-about {
 //   border-right: 2px solid gainsboro;
 // }
 //
 // #nav-recipes {
 //   border-right: 2px solid gainsboro;
 // }
 //
 // #nav-friends {
 //   border-right: 2px solid gainsboro;
 // }
 //
 // #nav-reviews {
 //   border-right: 2px solid gainsboro;
 // }
 //
 // #nav-photos {
 //   border-right: 2px solid gainsboro;
 // }
 //
 // #nav-add-recipe {
 // }
