// Place all the styles related to the Dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.fav-dashboard {
  padding-left: 50px;
  display: block;
}

.fav-recipes-dashboard {
  padding-left: 25px;
}
