// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.friends {
  font-family: Comic Sans MS, Comic Sans, cursive;
  padding: 25px 35px 75px 0px;
}

.friend-accept {
  margin: 10px 10px 5px 5px;
}

.friend-accept a {
  color: white;
  background-color: #3471eb;
  padding: 5px 15px 5px 15px;
  border-radius: 10%;
}

.friend-accept a:hover {
  color: white;
  background-color: #5d8def;
}

.friend-confirmed {
  padding: 15px 15px 5px 15px;
}

.friends-confirmed {
  padding-top: 10px;
  display: flex;
}

.friends-container {
  border-style: solid;
  border-color: #999999;
  border-width: 1px;
  max-width: 60%;
  min-width: 400px;
  padding: 15px 20px 15px 20px;
}

.friend-decline {
  margin: 10px 10px 5px 5px;
}

.friend-decline a {
  color: white;
  background-color: grey;
  padding: 5px 15px 5px 15px;
  border-radius: 10%;
}


.friend-decline a:hover {
  color: white;
  background-color: #999999;
}

.friend-position {
  padding-left: 50px;
}

.friend-remove {
  margin: 10px 10px 5px 5px;
}

.friend-remove a {
  color: white;
  background-color: #b32d00;
  padding: 5px 15px 5px 15px;
  border-radius: 10%;
}

.friend-remove a:hover {
  color: white;
  background-color: #e63900;
}

.friend-request-container {
  display: flex;
  padding-left: 10px;
}

.friend-request-username {
  padding-top: 15px;
  padding-right: 10px;
}

.friends-request-sent {
  display: flex;
  padding-left: 10px;
}

.pending-friend-requests {
  display: flex;
}

#friends-requests-titles {
  font-size: 24px;
}
