// Place all the styles related to the Recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  color: black;
  font-family: sans-serif;
}

body {
  font-family: sans-serif;
}

h1 {
}

p {
  margin-bottom: 0rem;
}

.card-container {
  width: 100%;
  margin: 0 auto;
  padding: 0.5em 0;
}

.description {
  padding: 1em 2em;
  font-size: 16px;
}

.description-show {
  width: 60%;
}

.detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 0;
  flex-grow: 1;
  padding: 20px
}

.detail-section {
  display: flex;
  justify-content: space-between;
}

.edit-delete-recipe-buttons {
  height: 0px;
  width: 100%;
}

.edit-delete-recipe-buttons th {
  padding-top: 30px;
  padding-bottom: 12px;
  padding-left: 5%;
  text-align: left;
}

.favorites-button {
  height: 200px;
  width: 100%;
}

.favorites-button th {
  padding-top: 20px;
  padding-bottom: 12px;
  padding-left: 10%;
  text-align: left;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.ingredient {
  padding: 20px, 20px, 20px, 50px;
}

.header {
  background-color: #f9f9f9;
  height: 5em;
}

.main {
  background-color: #f9f9f9;
}

.new-recipe {
  margin: auto;
  margin-top: 100px;
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f9f9f9;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 30px 20px 12px 40px;
}

.recipe {
  width: 90%;
  margin: 0.5em auto;
  background-color: white;
  border: 2px solid #ccc;
}

.recipe-description-show div{
  display: flex;
  flex-direction: column;
}

.recipe-image,
.description {
  width: 90%;
  margin: 0 auto;
}

.recipe-count {
  font-size: 20px;
  font-style: italic;
  color: grey;
  padding-left: 10px;
  background-color: #f9f9f9;
}

.recipe-image {
    padding: 1.2em 1em;
}

.recipe-image img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.recipe-inline {
  display: flex;
  flex-direction: row;
}

.recipe-show {
}

.recipe-title h2 {
  text-align: left;
  padding: 10px 0px 0px 50px;
}

.recipe-title-show {
  text-align: left;
  padding: 10px 0px 0px 50px;
}
/* FLEXBOX STYLES */

#ingredients {
  text-decoration: underline;
}

@media (min-width: 640px) {

  .card-container {
          display: flex;
          flex-flow: wrap;
      }

  .recipe {
      flex: 1 0 48%;
      margin: 1%;
  }
}

@media (min-width: 1001px) {
    .recipe {
        flex: 1 0 31%;
    }

    .recipe:last-of-type {
        flex-grow: 0;
    }
}
