
.user-login {
  margin: auto;
  margin-top: 100px;
  width: 50%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: #f9f9f9;
  // background-image: url('user-login-icon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
  padding: 30px 20px 12px 40px;
}
